.fixed
  position fixed
  top 0

.movie-list
  padding 80px 16px 16px
  min-width 100%
  min-height 100%
  box-sizing border-box
  
  .md-subheader
    text-align center

.movie-list-no-movies
  padding-top 64px
  box-sizing border-box
  
.floating-nav
  position fixed
  width 100%
  left 0
  bottom 16px
  text-align: center;
  
  .page-counter
    padding 8px 16px
    text-align center
    border 1px rgb(33, 33, 33)
    border-radius 4px
    box-shadow rgba(0, 0, 0, 0.4) 0px 4px 8px 0px
    background white
  
.movie-list-nav
  .md-button.md-raised, .floating-nav .md-button.md-raised
    width 44px
    min-width 0
    height 44px
    padding 0
    border-radius 50%
    margin 0
    transition all 0.6s
    
    i
      vertical-align: middle;
      
    .md-ripple-container
      border-radius 50%

.movie-list-tile
  .movie-list-tile-poster, .movie-list-tile-no-poster
    width 90%
    height 90%
    border-radius 4px
    background-color #DDD
    box-shadow 0 2px 4px rgba(0,0,0, 0.75)
    transition all 0.4s
    
  .movie-list-tile-no-poster
    padding 5%
    
  &:hover
    .movie-list-tile-poster, .movie-list-tile-no-poster
      width 100%
      height 100%
      
    .movie-list-tile-no-poster
      padding 10%
    
    .movie-list-tile-tooltip
      width 100%
      height 100%
      padding 10%
      margin-top 0
      opacity 1

  .movie-list-tile-poster
    background-position center
    background-size cover
    background-repeat no-repeat
    
  .movie-list-tile-no-poster
    text-align center
    box-sizing border-box
    
    i
      font-size 4em
      
    .md-title
      font-size 18px
      max-width 8em
      transition all 0.4s
      
  .movie-list-tile-tooltip
    position absolute
    width 90%
    height 90%
    padding 5%
    margin-top 7%
    border-radius 4px
    color white
    line-height 16px
    opacity 0
    background rgba(0, 0, 0, 0.5)
    box-sizing border-box;
    transition all 0.4s
    
    dl
      display block
      font-size 12px
      margin 0
      box-sizing border-box
      
      dt
        display inline-block
        width 30%
        margin 4px 0
        box-sizing border-box
        vertical-align top
        
      dd
        display inline-block
        width auto
        max-width 65%
        margin 4px 0
        word-wrap break-word
        box-sizing border-box
        
    .md-button.md-raised.md-primary
      display block
      width 100%
      margin 8px 0

@media (min-width 960px)
  .scroll-locked
    overflow hidden

  .movie-list-nav .md-button.md-raised
    width 88px
    height 88px
    
    i
      font-size 3em