.md-toolbar-tools
   background #FFC107
   
.go-back
  i
    position: relative;
    top: 6px;

.list-header
  padding-top 8px
  padding-bottom 8px
  background #DDD
  
md-list-item.md-3-line .md-list-item-text h3
  overflow: auto !important
  white-space: normal !important

.poster
  max-height 50%
  padding-bottom 32px